In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('iss-data/csv/iss_flight_plan_crew_20220101-20251321.csv')

In [9]:
grouped_by_date = df.groupby(['datedim'])['crew_count'].sum()

In [11]:
grouped_by_date

datedim
1/1/2022     7
1/1/2023     7
1/1/2024     7
1/1/2025     7
1/10/2022    7
            ..
9/8/2025     7
9/9/2022     7
9/9/2023     7
9/9/2024     7
9/9/2025     7
Name: crew_count, Length: 1461, dtype: int64