In [239]:
import pandas as pd
import datetime as dt

#grab flight plan
flight_plan = pd.read_csv(r'C:\Users\cicic\OneDrive\Desktop\Barrios_Project\barrios\iss-data\csv\iss_flight_plan_20220101-20251231.csv')

#query to only use dates where the event is dock and convert it to a list
dock_days_list = flight_plan[flight_plan['event'] == 'Dock']['datedim'].to_list()

#convert list of date strings into a list of datetime objects
dates_list = [dt.datetime.strptime(date, '%m/%d/%Y').date() for date in dock_days_list]

#print the days difference between each date
num_days = pd.Series(dates_list).diff().dt.days.iloc[1:].astype(int).tolist()
print(num_days)

[4, 25, 22, 18, 24, 13, 43, 67, 15, 22, 12, 18, 76, 15, 5, 13, 67, 2, 13, 59, 21, 2, 19, 48, 29, 41, 10, 10, 17, 2, 15, 8, 30, 22, 7, 22, 29, 35, 16, 6, 14, 9, 44, 33, 4, 22, 1, 34, 3, 19, 17, 62, 4, 27, 48, 2, 29, 7, 25, 28, 25, 25]

In [240]:
#grab rates
rater = pd.read_csv(r'C:\Users\cicic\OneDrive\Desktop\Barrios_Project\barrios\iss-data\csv\rates_definition.csv')

#consumable must match a consumable on the rates csv. case sensitive.
consumable = 'Air'

#grabs the usage rate of consumable and sums it up
sum_usage = sum(rater[(rater['affected_consumable'] == consumable) & (rater['type'] == 'usage')]['rate'].to_list())
#sum of generated
sum_generated = sum(rater[(rater['affected_consumable'] == consumable) & (rater['type'] == 'generation')]['rate'].to_list())

#prints
print("Consumable used = ", sum_usage)
print("Consumable generated = ", sum_generated)
net_consumable = sum_generated - sum_usage
print("net consumable per day= ", net_consumable)

Consumable used =  40.35
Consumable generated =  0
net consumable per day=  -40.35

In [241]:
rate = -(net_consumable)
consumable_to_send = [i * rate for i in num_days]
print(consumable_to_send)

[161.4, 1008.75, 887.7, 726.3000000000001, 968.4000000000001, 524.5500000000001, 1735.05, 2703.4500000000003, 605.25, 887.7, 484.20000000000005, 726.3000000000001, 3066.6, 605.25, 201.75, 524.5500000000001, 2703.4500000000003, 80.7, 524.5500000000001, 2380.65, 847.35, 80.7, 766.65, 1936.8000000000002, 1170.15, 1654.3500000000001, 403.5, 403.5, 685.95, 80.7, 605.25, 322.8, 1210.5, 887.7, 282.45, 887.7, 1170.15, 1412.25, 645.6, 242.10000000000002, 564.9, 363.15000000000003, 1775.4, 1331.55, 161.4, 887.7, 40.35, 1371.9, 121.05000000000001, 766.65, 685.95, 2501.7000000000003, 161.4, 1089.45, 1936.8000000000002, 80.7, 1170.15, 282.45, 1008.75, 1129.8, 1008.75, 1008.75]

In [242]:
##RUN ALL or this wont work
dock_days_list.pop()

readable = pd.DataFrame(
    {'Docking Days': dock_days_list,
     'Amount of Consumable to Send': consumable_to_send
    })

display(readable)

   Docking Days  Amount of Consumable to Send
0     2/17/2022                        161.40
1     2/21/2022                       1008.75
2     3/18/2022                        887.70
3      4/9/2022                        726.30
4     4/27/2022                        968.40
..          ...                           ...
57     9/3/2025                        282.45
58    9/10/2025                       1008.75
59    10/5/2025                       1129.80
60    11/2/2025                       1008.75
61   11/27/2025                       1008.75

[62 rows x 2 columns]